<div class="attendance-letter">
    <div class="front-side">
        <div class="top-bar"></div>

        <div class="front-side-main">
            <h3>Did you know?</h3>

            <p>A student is chronically absent if they miss just 2 days a month.</p>

            <p>AND</p>

            <p>Chronic absenteeism...</p>

            <ul>
                <li>Is a primary cause of lower academic achievement.</li>
                <li>Is a powerful predictor of students who may eventually drop out of school.</li>
                <li>Can even impact students in Pre-K, Kindergarten and 1<sup>st</sup> Grade by making it far less likely that they will read on grade level by the 3<sup>rd</sup> Grade.</li>
                <li>Impacts other students, too. Students who are frequently absent require more individual instruction due to assigments missed. This takes away from valuable class learning time.</li>
            </ul>

            <p>We want your child to achieve great things! Being at school every day CAN make a HUGE difference in their success now and in the future!</p>
        </div>

        <div class="bottom-bar"></div>
    </div>

    <div class="front-main">
        <div class="heading">
            <div class="logo"><%= wicked_pdf_image_tag 'logo/blue-1193x1005.png' %></div>
        </div>

        <div class="letter">
            <div class="letter-date">
                <%= letter_date.strftime(letter_date_format) %>
            </div>

            <div class="addressee">
                <p>Dear Parent / Guardian of <%= attendance.first_name %>,</p>
            </div>

            <p>We have missed Johnathan at school recently.</p>

            <div id="absences_vs_average_chart" class="chart">
            </div>

            <div class="highlight">
                Why is <%= attendance.first_name %> missing school? Let us know what gets in the way of <%= attendance.first_name %>
                being at school every day. Maybe we can help! Please call <%= school_phone %> to provide
                information about your situation.
            </div>

            <div class="letter-signature">
                Sincerely,<br />
                <%= letter_writer %><br />
                <%= letter_writer_description %>
            </div>
        </div>

        <div class="footnotes">
            <p>
                The Oklahoma Compulsory Attendance Law states, &ldquo;if a child is absent without a valid excuse four (4) or more days
                or parts of days within a four-week period, the parents shall be notified. If the child is absent from school for ten
                (10) or more days or parts of days within a semester without a valid excuse, the attendance officer shall immediately
                report such absences to the district attorney in the county wherein the school is located for juvenile proceedings
                pursuant to Title 10 of the Oklahoma States.&rdquo; The specific language, exceptions, and penalties of the Statues have
                been provided for you on the reverse side of this letter, but we are far more interested in getting <%= attendance.first_name %>
                back in school where he/she can learn and grow together with us. Please help us help <%= attendance.first_name %> succeed in
                school by bringing him/her every day.
            </p>
        </div>
    </div>
</div>

<script>
  $(function () {
    Highcharts.chart('absences_vs_average_chart', {
      chart: {
      type: 'column',
      animation: false
      },
      title: {
        text: 'Absences'
      },
      xAxis: {
        categories: [
          '<%= j attendance.first_name %>',
          'Typical <%= j school_name %> student'
        ],
        labels: {
          style: {
            fontSize:'16px'
          }
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: ''
        },
        labels: {
          style: {
            fontSize:'16px'
          }
        }
      },
      colors: ["#26abe4"],
      plotOptions: {
        column: {
          animation: false,
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: '',
        data: [4, 7]
      }],
      credits: false,
      legend: {
        enabled: false
      }
    });
  });
</script>
