<div class="attendance-letter">
    <div class="front-side">
        <div class="top-bar"></div>

        <div class="front-side-main">
            <h3><%= I18n.t('attendance_letter.did_you_know.heading', locale: locale) %></h3>

            <%= I18n.t('attendance_letter.did_you_know.body_html', locale: locale).html_safe %>
        </div>

        <div class="bottom-bar"></div>
    </div>

    <div class="front-main">
        <div class="heading">
            <div class="logo"><%= wicked_pdf_image_tag 'logo/blue-1193x1005.png' %></div>
        </div>

        <div class="letter">
            <div class="letter-date">
                <%= I18n.l(letter_date, format: :letter, locale: locale) %>
            </div>

            <div class="addressee">
                <%= I18n.t('attendance_letter.address_html', first_name: attendance.first_name, locale: locale).html_safe %>
            </div>

            <%= I18n.t('attendance_letter.body_before_chart_html', first_name: attendance.first_name, locale: locale).html_safe %>

            <div id="absences_vs_average_chart_<%= attendance.student_id %>" class="chart">
            </div>

            <div class="highlight">
                <%= I18n.t('attendance_letter.highlight_html', first_name: attendance.first_name, school_phone: school_phone, locale: locale).html_safe %>
            </div>

            <div class="letter-signature">
                <%= I18n.t('attendance_letter.signature_heading', locale: locale) %><br />
                <%= attendance.school_principal_name %><br />
                <%= I18n.t('attendance_letter.principal_job_description', school_name: attendance.school_name, locale: locale) %>
            </div>
        </div>

        <div class="footnotes">
            <%= I18n.t('attendance_letter.footnotes_html', first_name: attendance.first_name, locale: locale).html_safe %>
        </div>
    </div>
</div>

<script>
  $(function () {
    var chartWidth = 544;

    Highcharts.chart('absences_vs_average_chart', {
      chart: {
        type: 'column',
        animation: false,
        width: chartWidth
      },
      title: {
        text: '<%= j I18n.t('attendance_letter.chart.title', locale: locale) %>',
        style: {
          color: '#000'
        }
      },
      xAxis: {
        categories: [
          '<%= j attendance.first_name %>',
          '<%= j I18n.t('attendance_letter.chart.typical_student', school_name: attendance.school_name, locale: locale) %>'
        ],
        labels: {
          style: {
            fontSize: '16px',
            color: '#000'
          }
        },
        lineColor: '#555'
      },
      yAxis: {
        min: 0,
        allowDecimals: false,
        title: {
          text: ''
        },
        labels: {
          style: {
            fontSize:'16px',
            color: '#000'
          }
        },
        gridLineColor: '#888'
      },
      colors: ["#26abe4"],
      plotOptions: {
        column: {
          animation: false,
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: '',
        data: [<%= j attendance.absences_count.to_s %>, <%= j attendance_summary.average_absences_count(attendance.school_name).to_s %>]
      }],
      credits: false,
      legend: {
        enabled: false
      }
    });
  });
</script>
